
.container{
    border: 1px solid black;
    margin: 3rem;
    padding: 1.5rem;
}
.head{
    padding: 10px;
    font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}
p{
    margin: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-style: italic;
}
.image{
    width: 100%;
    height: 400px;
    margin-left: 4px;
    
}
.ingre{
    font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h3{
    font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}